<div class="login-container">
  <section class='container'>
    <div class="jumbotron">
      <!-- <div class="register-log-in-container"> -->
        <!-- <div class="col-md-6 col-md-offset-3"> -->
          <div ng-controller='loginCtrl'id='panel-login-page' class="panel panel-login">
            <div class="panel-heading">
              <div class="row login-link-container">
                <div class="col-xs-6">
                  <a ui-sref="login" class="active" id="login-form-link">Login</a>
                </div>
                <div class="col-xs-6">
                  <a ui-sref="register" id="register-form-link">Register</a>
                </div>
              </div>
              <hr>
            </div>
          </div>
        <input id='login-username' type="text" class="form-control" name="name" ng-model='user' placeholder="Username" value=""><br>
        <input id='login-password' type="password" class="form-control" name="name" ng-model='pw' placeholder="Password" value=""><br>
        <div class="form-group text-center">
          <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
          <label for="remember"> Remember Me</label>
          <div class="col-sm-6 col-sm-offset-3">
            <input type="submit" name="login-submit" ng-click='loginUser(user,pw)'id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Submit">
          </div>
        </div>

        <!-- </div> -->
      <!-- </div> -->
    </div>

  </section>

</div>
