<html>
<meta name="viewport" content="width=device-width">

<div ng-controller='homeCtrl'>
  <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <!-- <h4>Slide {{$index}}</h4> -->
          <!-- <p>{{slide.text}}</p> -->
        </div>
      </slide>
    </carousel>
</div>

<div ng-repeat='product in products'>
    <img src="{{product.image}}" alt="" />
    <h3>{{product.desc}}</h3>
    <h2>price : ${{product.price}}</h2>
</div>

</div>

</body>

</html>
