<html>
<!-- <meta name="viewport" content="width=device-width"> -->
<section class='home-page-container'>

  <div class='carousel-container'>
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <a ui-sref='{{slide.type}}'><img ng-src="{{slide.image}}" style="margin:auto;"></a>
          <div class="carousel-caption">
            <!-- <h4>Slide {{$index}}</h4> --><br>
            <h3 class='carousel-text'>{{slide.text}}</h3>
          </div>
        </slide>
      </carousel>
  </div>


  <!-- <input type="text" ng-model='search.type'> -->
  <section class='even'>
    <div class='center' ng-repeat='product in products | filter : search'>
        <div class="product-wrapper col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
          <img ng-click='clickToOpen(product.image,product.id,product.desc,product.price)'src="{{product.image}}" alt="" />
          <p>{{product.type}}/{{product.color}}</p>
          <h5>$ {{product.price}}</h5>
        </div>

    </div>
  </section>

</section>

<!-- <div class='carousel-container'>
  <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <a ui-sref='{{slide.type}}'><img ng-src="{{slide.image}}" style="margin:auto;"></a>
        <div class="carousel-caption"> -->
          <!-- <h4>Slide {{$index}}</h4> -->
          <!-- <h3 class='carousel-text'>{{slide.text}}</h3>
        </div>
      </slide>
    </carousel>
</div> -->
<!-- <input type="text" ng-model='search.type'> -->
<!-- <section class='even'>
  <div class='center' ng-repeat='product in products | filter : search'>
      <div class="product-wrapper col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
        <img ng-click='clickToOpen(product.image,product.id,product.desc,product.price)'src="{{product.image}}" alt="" />
        <p>{{product.type}}/{{product.color}}</p>
        <h5>$ {{product.price}}</h5>
      </div>

  </div>
</section> -->





</body>

</html>
