<html>

<body>
    <section class="nav-container">
        <ul class='list'>
            <!-- <li><a class='' href='#'>Tees</a></li>
        <li><a class='' href='#'>Sweaters</a></li>
        <li><a class='' href='#'>Shorts</a></li> -->
                <li class="dropdown"><a class='drop-btn'>Products</a>

                  <ul class="dropdown-content">
                    <li><a ui-sref="home">All</a></li>
                    <li><a ui-sref="shirts">Shirts</a></li>
                    <li><a ui-sref="sweaters">Sweaters</a></li>
                    <li><a ui-sref="caps">Caps</a></li>
                    <li><a ui-sref="shorts">Shorts</a></li>

                  </ul>

                </li>
                <!-- <div class="dropdown-content">

                    <a ui-sref="sweaters">Sweaters</a>
                    <a ui-sref="caps">Caps</a>
                    <a ui-sref="shirts">Shorts</a>
                </div> -->

            <li><a class='' ui-sref='onSale'>On Sale</a></li>
            <li><a class='' ui-sref='#'>Trending</a></li>
            <li><a class='' ui-sref='cart'>Cart</a</li>
            <li><a class='' ui-sref='login'>login</a></li>
        </ul>
        <input class='nav-input' type="search" ng-model='search' placeholder="search...">
    </section>



    
</body>

</html>
<!-- <div class="btn-group" dropdown is-open="status.isopen">
   <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
     Button dropdown <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu">
     <li><a href="#">Action</a></li>
     <li><a href="#">Another action</a></li>
     <li><a href="#">Something else here</a></li>
     <li class="divider"></li>
     <li><a href="#">Separated link</a></li>
   </ul>
 </div> -->
