
<div id="dialog-container" ng-controller='checkoutCtrl'>

  <section class='container'>
    <div class="jumbotron">
        <img class ='dialog-product-img col-xs-6 col-sm-6 col-md-6' src="{{image}}" alt="" />

      <!-- <section class='product-info-dialog'> -->
        <h2>id: {{id}}</h2>
        <h3>{{desc}}</h2>
        <h3>$ {{price}}</h2>
          <select class="input-medium" value='size' ng-options='product.Value as product.Label for product in options' ng-model='size'>
          </select>
          <ngcart-addtocart id="{{ id }}" name="{{ name }}" price="{{ price }}" quantity="1" quantity-max="30" data="item">add to cart</ngcart-addtocart>
          <br><a ui-sref="cart"><button id='dialog-checkout-btn'class="btn btn-primary" name="button">Continue to checkout</button></a>
      <!-- </section> -->

    </div>

  </section>


</div>
<!-- ng-click='add(product.id,product.type,product.price,size)' -->
