
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 " ng-repeat='sweater in sweaters'>
    <img ng-click='clickToOpen(sweater.image,sweater.id,sweater.desc,sweater.price)' src="{{sweater.image}}" alt="" />
    <h3>{{sweater.desc}}</h3>
    <h2>$ {{sweater.price}}</h2>
    <ngcart-addtocart id="{{ sweater.id }}" name="{{ sweater.type }}" price="{{ sweater.price }}" quantity="1" quantity-max="30" data="item">Add To Cart</ngcart-addtocart>
    <a ui-sref="cart"><button class="btn btn-primary" name="button">Continue to checkout</button></a>
</div>
